In [1]:
import pandas as pd

In [2]:
aisles = pd.read_csv('aisles.csv')
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [25]:
aisles['aisle'].unique()

array(['prepared soups salads', 'specialty cheeses',
       'energy granola bars', 'instant foods',
       'marinades meat preparation', 'other', 'packaged meat',
       'bakery desserts', 'pasta sauce', 'kitchen supplies',
       'cold flu allergy', 'fresh pasta', 'prepared meals',
       'tofu meat alternatives', 'packaged seafood', 'fresh herbs',
       'baking ingredients', 'bulk dried fruits vegetables',
       'oils vinegars', 'oral hygiene', 'packaged cheese', 'hair care',
       'popcorn jerky', 'fresh fruits', 'soap', 'coffee', 'beers coolers',
       'red wines', 'honeys syrups nectars', 'latino foods',
       'refrigerated', 'packaged produce', 'kosher foods',
       'frozen meat seafood', 'poultry counter', 'butter',
       'ice cream ice', 'frozen meals', 'seafood counter',
       'dog food care', 'cat food care', 'frozen vegan vegetarian',
       'buns rolls', 'eye ear care', 'candy chocolate', 'mint gum',
       'vitamins supplements', 'breakfast bars pastries',
       'packaged poultry', 'fruit vegetable snacks',
       'preserved dips spreads', 'frozen breakfast', 'cream',
       'paper goods', 'shave needs', 'diapers wipes', 'granola',
       'frozen breads doughs', 'canned meals beans', 'trash bags liners',
       'cookies cakes', 'white wines', 'grains rice dried goods',
       'energy sports drinks', 'protein meal replacements', 'asian foods',
       'fresh dips tapenades', 'bulk grains rice dried goods',
       'soup broth bouillon', 'digestion',
       'refrigerated pudding desserts', 'condiments', 'facial care',
       'dish detergents', 'laundry', 'indian foods', 'soft drinks',
       'crackers', 'frozen pizza', 'deodorants',
       'canned jarred vegetables', 'baby accessories', 'fresh vegetables',
       'milk', 'food storage', 'eggs', 'more household', 'spreads',
       'salad dressing toppings', 'cocoa drink mixes', 'soy lactosefree',
       'baby food formula', 'breakfast bakery', 'tea',
       'canned meat seafood', 'lunch meat', 'baking supplies decor',
       'juice nectars', 'canned fruit applesauce', 'missing',
       'air fresheners candles', 'baby bath body care',
       'ice cream toppings', 'spices seasonings',
       'doughs gelatins bake mixes', 'hot dogs bacon sausage',
       'chips pretzels', 'other creams cheeses', 'skin care',
       'pickled goods olives', 'plates bowls cups flatware', 'bread',
       'frozen juice', 'cleaning products',
       'water seltzer sparkling water', 'frozen produce',
       'nuts seeds dried fruit', 'first aid', 'frozen dessert', 'yogurt',
       'cereal', 'meat counter', 'packaged vegetables fruits', 'spirits',
       'trail mix snack mix', 'feminine care', 'body lotions soap',
       'tortillas flat bread', 'frozen appetizers sides',
       'hot cereal pancake mixes', 'dry pasta', 'beauty',
       'muscles joints pain relief', 'specialty wines champagnes'],
      dtype=object)

In [26]:
from sqlalchemy import create_engine
import pymysql
import getpass
password = getpass.getpass()

········

In [4]:
# connection_string = 'mysql+pymysql://root:' + password + '@localhost/instacart'
# engine = create_engine(connection_string)
                       
# aisles.to_sql('aisles', con=engine, if_exists='replace', index = False)
# engine.execute("SELECT * FROM aisles").fetchall()

In [22]:
departments = pd.read_csv('departments.csv')
departments['department'].value_counts()

missing            1
bulk               1
deli               1
dry goods pasta    1
household          1
bakery             1
pets               1
other              1
international      1
alcohol            1
beverages          1
dairy eggs         1
meat seafood       1
snacks             1
pantry             1
breakfast          1
produce            1
babies             1
personal care      1
frozen             1
canned goods       1
Name: department, dtype: int64

In [6]:
# departments.to_sql('departments', con=engine, if_exists='replace', index = False)
# engine.execute("SELECT * FROM departments").fetchall()

In [7]:
products = pd.read_csv('products.csv')
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [8]:
# products.to_sql('products', con=engine, if_exists='replace', index = False)
# engine.execute("SELECT * FROM products").fetchall()

In [9]:
train_order = pd.read_csv('order_products__train.csv')

In [10]:
train_order.shape

(1384617, 4)

In [11]:
train_order.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [12]:
prior_order = pd.read_csv('order_products__prior.csv')

In [13]:
prior_order.shape

(32434489, 4)

In [14]:
prior_order

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [29]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/instacart'
engine = create_engine(connection_string)
                       
prior_order.to_sql('order_products_prior', con=engine, if_exists='replace', index = False)
engine.execute("SELECT * FROM prior_order").fetchall()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'instacart.prior_order' doesn't exist")
[SQL: SELECT * FROM prior_order]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [16]:
orders = pd.read_csv('orders.csv')

In [17]:
orders.shape

(3421083, 7)

In [27]:
orders[orders['order_id']==1]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1868044,1,112108,train,4,4,10,9.0

In [18]:
orders.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [19]:
order_train = orders[orders['eval_set']== 'train']
order_train.shape

(131209, 7)

In [20]:
order_test = orders[orders['eval_set']== 'test']
order_test.shape

(75000, 7)

In [21]:
# orders.to_sql('orders', con=engine, if_exists='replace', index = False)
# engine.execute("SELECT * FROM orders").fetchall()